<section class="relative flex h-full flex-col overflow-hidden">
  <div class="flex items-center justify-between rounded-lg bg-accent p-5">
    <h1 class="text-3xl text-white">
      Todo List ({{ totalDone() }}/{{ todoList().length }})
    </h1>
  </div>
  <div class="mt-3">
    <app-todo-form (addNewItem)="handleAddNew($event)" />
  </div>
  <hr class="border-1 mt-3 border-primary bg-primary" />
  <div class="mt-3 h-full overflow-y-auto pe-2">
    @for (todo of todoList(); track todo.id) {
      <app-todo-item
        [todoData]="todo"
        [showMore]="$first"
        (markCheck)="handleMarkCheck(todo)"
        (delete)="handleDelete(todo)"
      ></app-todo-item>
    } @empty {
      <div
        class="my-2 grid grid-cols-todo-item items-center justify-items-center gap-x-1 rounded-md bg-transparent p-3"
      >
        <h3
          class="row-start-1 max-w-full shrink-0 justify-self-center truncate text-ellipsis text-lg font-medium text-primary"
        >
          All set for today &nbsp; 🎉
        </h3>
      </div>
    }
    <hr class="border-1 my-3 border-primary bg-primary" />
    @for (doneItem of doneList(); track $index) {
      <app-todo-item
        [todoData]="doneItem"
        [showMore]="$first"
        (markCheck)="handleMarkCheck(doneItem)"
        (delete)="handleDelete(doneItem)"
      ></app-todo-item>
    }
  </div>
</section>
