<section class="flex flex-col gap-3 overflow-hidden p-3">
  <div class="flex items-center justify-between rounded-lg bg-accent p-5">
    <h1 class="text-3xl text-white">
      Todo List ({{ totalPending() }}/{{ todoList().length }})
    </h1>
    <button class="border-bac rounded-lg bg-primary px-5 py-3 text-white">
      + Add
    </button>
  </div>
  <div>
    @for (todo of todoList(); track todo.id) {
      <app-todo-item
        [todoData]="todo"
        [showMore]="$first"
        (markCheck)="handleMarkCheck(todo)"
      ></app-todo-item>
    }
  </div>
</section>
